a {
  color: #099;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", Helvetica, Arial, "思源黑體", 'Source Han Sans TC',
    'Source Han Sans', 'Noto Sans CJK TC', "Kozuka Gothic Pr6N",
    "Hiragino Kaku Gothic Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
}

#react-root {
  height: 100%;
  width: 100%;
}
